{% load static %} <!-- Prepare django to load static files -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">
    <title>Home page</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
</head>

<body>
    <div class="container">
        <h3 class="text-primary mt-5 display-6">Welcome to my Social Network</h3>
        <hr>
        <h6 class="h6">Checkout what our users have been up to!</h6>
        <hr>
        {% for user in users %}
            <div class="card mt-5">{% csrf_token %}
                <div class="card-body">
                    <a class="social-user" id="{{ user.id }}" href="#"><img class="rounded-circle img-thumbnail" src="{% static 'images/person100.png' %}"></a>
                    <p class="card-title text-primary mt-2"> {{ user.first_name }} {{ user.last_name}}</p>
                </div>
            </div>
        {% endfor %}
        <a type="button" class="btn btn-primary mt-3 mb-5" href="{% url 'logout'%}">Logout</a>
    </div>
    
</body>
</html>