{% load static %} <!-- Prepare django to load static files -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timeline page</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <div class="container">
        <h3 class="text-primary mt-5 display-6">Welcome to my Social Network</h3>
        <hr>
        <h6 class="h6">Checkout what our users have been up to!</h6>
        <hr>
       
        <a type="button" class="btn btn-primary mt-3 mb-5" href="{% url 'logout'%}">Logout</a>
    </div>
    
</body>
</html>